$base-font: Montserrat, Helvetica, Arial, sans-serif;

//	palette

$grey: #e5e5e5;
$primary: #ff4159;
$primary-dark: #f44336;
$secondary: rgb(94, 49, 220);
$dark: #39424d;
$yellow: #ffc104;
$light-gray: #f5f6f7;
$border-light-color: red;

$text-color: $dark;
$divider-color: #8e9399;
$input-bg: $light-gray;
$box-shadow-color: rgba(122, 140, 171, 0.2);

//	sizes

$sidebar-width: 240px;
$sidebar-md-width: 100px;
$header-height: 68px;

$bt-md-vp: 992px;
