.checkbox {
  text-align: left;
  margin-bottom: 16px !important;
  margin-top: 0 !important;
}

.terms-checkbox {
  text-align: left;
  margin-bottom: 16px;

  .m-chckbox--group {
    width: 22px;
    height: 22px;
  }
}
