@import '@/assets/sass/_vars.scss';

.auth {
  .card-wrapper {
    width: 100%;
    max-width: 600px !important;
  }

  .first-form-column {
    padding-right: 15px;
  }

  .second-form-column {
    padding-left: 15px;
  }

  .actions {
    text-align: center;
  }
}
